.usuarios-registrados {
    background-color: var(--bg-white);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000001a;
    margin-top: 2.5rem;
    padding: 1%;
    text-align: center;

    p {
        width: 70%;
        margin: 0 auto;
    }
}


.btn {
    background-color: var(--color-primary-dark);
    color: black;
}

#btn-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin-right: 15px;
    z-index: 1000;
    background-color: var(--color-primary-dark);
    color: black;
}

#btn-top:hover {
    background-color: var(--color-tertiary);
    color: white;
}