.container {
    text-align: center;
    background-color: var(--color-primary);
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: clamp(300px, 30%, 500px);
    margin: auto;

    label {
        margin-top: 20px;
    }

    input[type="submit"] {
        background-color: var(--color-secondary);

        &:hover {
            background-color: var(--color-tertiary);
            color: white;
        }
    }

}