/* Custom gradient background for login form */
.gradient-custom-2 {
    /* Default background color for older browsers */
    background-image: url('../../../../public/images/register.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 1);
    pointer-events: none;
}

p {
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#name:focus,
#lastname:focus,
#phone:focus,
#email:focus,
#password:focus,
#confirmPassword:focus {
    border-color: var(--color-primary-dark);
    box-shadow: 0 0 0 0.3rem rgba(255, 132, 104, 0.25);
}

#SignInButton {
    button {
        font-family: 'Poiret One', cursive;
        font-weight: 600;
        font-size: 18px;
        background-color: var(--color-primary-dark);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        padding: 15px 0px;
    }
}

#SignInButton:hover {
    button {
        background-color: var(--color-tertiary);
        cursor: pointer;
        color: white;
    }
}

#registerSection {
    a {
        font-family: 'Poiret One', cursive;
        font-weight: 600;
        font-size: 18px;
        margin: 5px 10px;
        background-color: var(--color-primary-dark);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    a:hover {
        background-color: var(--color-tertiary);
        color: white;
    }
}



.text-white {
    background-color: rgba(7, 7, 7, 1);
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);

}

#infoSection {
    div {

        font-family: 'Poiret One', cursive;
        font-weight: 600;
        font-size: 20px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.6);
    }

}


/* Make form take full viewport height on tablets and larger */
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh;
    }
}

/* Add rounded corners on larger screens */
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        background-color: rgba(7, 7, 7, 0.6);
        font-weight: bold;
    }
}