label {
    display: flex;
    flex-direction: column;
    font-family: var(--font-secundary);
    font-weight: 700;
    font-size: 18px;
}


input,
label {
    margin: 10px 0;
    border-radius: 10px;
}

input {
    text-align: center;
    width: 100%;
    background-color: rgb(241, 236, 230);
}