<!-- Componente del encabezado del dashboard -->
<app-header-dashboard />

<!-- Sección principal para la gestión de menús -->
<section class="container menus py-3">

    <!-- Encabezado de la sección con título y botón para crear un nuevo menú -->
    <div class="mb-4">
        <h3>
            Menús
        </h3>
        <!-- Botón que redirige a la página de creación de menús -->
        <button class="btn btn-primary" [routerLink]="['/dashboard', 'create-menu']">
            Crear menú
        </button>
    </div>

    <!-- Contenedor de las tarjetas de menús -->
    <div class="row p-5">
        <div class="col p-0">
            <!-- Lista de tarjetas de menús organizadas en una columna con espacio entre ellas -->
            <div class="d-flex flex-column gap-3 px-3">
                @for (menu of menus; track menu.id) {
                    <!-- Componente para cada tarjeta de menú -->
                    <app-menu-card [menu]="menu" (deletedMenu)="reloadData()" />
                }
                @empty {
                    <!-- Mensaje que se muestra si no hay menús cargados -->
                    <p class="text-center">Cargando menús...</p>
                }
            </div>
        </div>
    </div>
</section>